.form-edit {
  display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
    gap: 15px;
}
.form-edit label {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  gap: 10px;
}

.form-edit label input {
  box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 5px;
    background: white;
    font-size: 16px;
}

.form-edit label input:disabled {
  background-color: transparent;
}

.form-edit label textarea {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid transparent;
  min-height: 120px;
  padding: 20px;
  outline: none;
  border-radius: 10px;
  resize: none;
  font-size: 16px;
  field-sizing: content;
  border: 1px solid #C8CCCF;
  white-space: pre-wrap;
}

.form-edit__note-wrapper {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.form-edit__note {
  width: 25px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  color: black;
  border: 2px solid black;
  border-radius: 50%;
}

.form-edit button {
  align-self: flex-start;
  background-color: #FF8261;
  transition: all 0.25s ease-in-out;
}

.form-edit button:hover {
  color: white;
}