.accountGoods-ul {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding: 0;
    list-style: none;
    margin: 0;
}

.accountGoods-ul__btn {
  width: 100%;
  min-height: 240px;
  border: 1px solid #C8CCCF;
  border-radius: 5px;
  font-size: 24px;
}

.addgoodbtn {
  background-color: #FF8261;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.25s ease-in-out;
  font-size: 16px;
  padding: 10px 15px;
  color: black;
  border-radius: 22px;
}

.addgoodbtn:hover {
  color: white;
}

.form__button-batch-submit {
  background-color: #FF8261;
  align-self: center;
  /* align-self: flex-start; */
  transition: all 0.25s ease-in-out;
}

.form__button-batch-submit:hover {
  color: white;
}

.account-goods__item-wrapper {
  display: grid;
  grid-template-columns: 1fr 185px;
}

.account-goods__item-title-wrapper {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}

.account-goods__item-cover {
  width: 100%;
  max-width: 100px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 7px;
}

.account-goods__item-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.account-goods__item-details-materials {
  display: flex;
  align-items: center;
  gap: 5px;
}

.account-goods__item-details-materials div {
  background-color: rgb(55, 137, 123);
  width: 18px;
  height: 18px;
  border-radius: 3px;
}

@media screen and (max-width: 767px) {
  .account-goods__item-wrapper {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .account-goods__item-cover {
    max-width: 50px;
  }
  .account-goods__item-details h3 {
    font-size: 14px;
  }
  .account-goods__item-details-materials {
    display: none;
  }
  .list-column__price-wrapper {
    flex-direction: row-reverse;
    /* justify-content:; */
  }
}
