.account {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
}

.account__goods-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.account__user-wrapper {
    /* align-self: flex-end; */
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    min-width: 220px;
}

.account__user-wrapper h3 {
    margin: 0;
}

.account__user-wrapper button {
    background-color: transparent;
    border: 0.5px solid black;
    box-sizing: border-box;
    padding: 0;
    width: 35px;
    aspect-ratio: 1/1;
    font-size: 14px;
}