.account__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.account__links li {
    display: flex;
}

.account__links-li-link {
    color: #757373;
    position: relative;
    transition: all 0.25s ease-in-out;
    /* box-sizing: border-box;
    padding: 10px 10px;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: all 0.25s ease-in-out; */
}

/* .account__links-li-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #213547;
} */

.account__links-li-link:hover {
    color: #213547;
}

.account__links-li-link_active {
    color: #213547;
    /* background-color: rgb(33, 53, 71);
    color: white; */
}