.account {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 25px; */
    min-height: 60svh;
    gap: 50px;
}

.account__avatar-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
}

.account__avatar-wrapper button {
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.account__avatar-wrapper:hover button {
    opacity: 1;
}

.account__navigation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: fit-content;
    /* max-width: 220px; */
    /* max-width: 320px; */
}

.account__wrapper-user-text-profile {
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.account__wrapper-user-text-profile h3 {
    margin: 0;
}

.account__wrapper-user-text-avatar {
    max-width: 75px;
    max-height: 75px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
}

#account__wrapper-user-text-avatar {
    max-width: 120px;
    max-height: 120px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
}

.account__back {
    background-color: transparent;
    border: 1px solid #213547;
    transition: all 0.25s ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
}

.account__back:hover {
    color: #FF8261;
    border: 1px solid #FF8261;
}

.account__wrapper {
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 15px;
}

.account__wrapper-user {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.account__wrapper-user-text {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    gap: 15px;
}

.account__wrapper-user-text-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0;
}

.account__wrapper-user-text-data-wrapper {
    display: flex;
    align-items: flex-start;
    /* gap: 10px; */
}

.account__wrapper-user-text-data-wrapper span {
    width: 120px;
    text-align: left;
}

.account__wrapper-user-text span {
    /* color: #949694; */
}


.account__wrapper-user button {
    /* background-color: transparent; */
    background-color: #FF8261;
    /* color: ; */
    aspect-ratio: 1/1;
    padding: 0;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: all 0.25s ease-in-out;
}

.account__wrapper-user button:hover {
    color: white;
}

.account__wrapper h3 {
    margin: 0;
}

.account__user-wrapper {
    /* align-self: flex-end; */
    display: flex;
    /* gap: 15px; */
    /* align-items: center;p */
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-width: 240px;
    /* min-width: 220px; */
}

.account__user-wrapper div {
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 300;
    gap: 5px;
    font-size: 18px;
}

.account__user-wrapper h3 {
    margin: 0;
    font-weight: 300;
}

.account__user-wrapper button {
    background-color: transparent;
    border: 0.5px solid black;
    box-sizing: border-box;
    padding: 0;
    width: 35px;
    aspect-ratio: 1/1;
    font-size: 14px;
}

.account__logout {
    color: #ff565d;
    border: 2px solid #ff565d;
    background-color: transparent;
    border: 2px solid #ff565d;
    transition: all 0.25s ease-in-out;
}

.account__logout:hover {
    background-color: #ff565d;
    color: white;
    border: 2px solid transparent;
}

@media screen and (max-width: 1279px) {
    .account  {
        gap: 15px;
    }

    .list-column li {
        padding: 10px;
    }
}

@media screen and (max-width:  1023px) {
    .account {
        flex-wrap: wrap;
    }
    .account__wrapper-user-text {
        flex-direction: column;
        gap: 0;
    }
}

@media screen and (max-width:767px) {
    .account {
        flex-direction: column;
    }
    .account__wrapper-user-text {
        flex-direction: row;
        gap: 25px;
    }
}