.back-link {

}

.addGoodform {
  display: flex;
  /* flex-direction: column; */
  /* gap: 50px; */
  width: fit-content;
  /* align-items: center; */
  align-items: flex-start;
  min-width: 320px;
  width: 100%;
  gap: 25px;
  /* justify-content: space-between; */
}

.addGoodform__text-wrapper {
  width: 100%;
  max-width: 320px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-start;
}

.addGoodform__text-wrapper-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.addGoodform__text-wrapper-div-categories {
  display: flex;
  flex-wrap: wrap;
}

.addGoodform__text-wrapper-div-categories label {
  display: flex;
  gap: 5px;
  align-items: center;
}


.addGoodform__text-wrapper-div-categories label input {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #C8CCCF;
  border-radius: 4px;
  transition: all 0.25s ease-in-out;
}

.addGoodform__text-wrapper-div-categories label input:checked {
  /* appearance: green; */
  background-color: #FF8261;
}

.addGoodform__text-wrapper button {
  color: black;
  border: 2px solid #FF8261;
  transition: all 0.25s ease-in-out;
  background-color: #FF8261;
  pointer-events: all;
}

.addGoodform__text-wrapper button:hover {
  /* border: 2px solid transparent;
  background-color: #20232c; */
  color: white;
}

.addGoodform__text-wrapper button:disabled {
  background-color: #C8CCCF;
  color: rgb(101, 101, 101);
  border: 2px solid #C8CCCF;
  pointer-events: none;
  /* filter: grayscale(0.75); */
}

.addGoodform__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 5px;
  align-self: flex-start;
}

.addGoodform__label input {
  /* background-color: white;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 12px;
  border: none;
  border: 1px solid transparent;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  outline: none; */
}

.addGoodform__label input:focus {
  /* border: 2px solid tra; */
}

.addGoodform__files-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

@media screen and (max-width:1279px) {
  .addGoodform {
    flex-direction: column;
    max-width: 420px;
  }

  .addGoodform__text-wrapper {
    max-width: 100%;
    order: 2;
  }

  .addGoodform__files-wrapper {
    order: 1;
    width: 100%;
  }
}

@media screen and (max-width: 374px) {
  .addGoodform {
    min-width: 280px;
  }
}