.addGoodform {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  width: fit-content;
  /* align-items: center; */
  align-items: flex-start;
  min-width: 320px;
  width: 100%;
}

.addGoodform__text-wrapper {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-start;
}

.addGoodform__text-wrapper button {
  color: black;
  border: 2px solid #FF8261;
  transition: all 0.25s ease-in-out;
  background-color: #FF8261;
}

.addGoodform__text-wrapper button:hover {
  /* border: 2px solid transparent;
  background-color: #20232c; */
  color: white;
}

.addGoodform__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 5px;
  align-self: flex-start;
}

.addGoodform__label input {
  background-color: white;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 12px;
  border: none;
  border: 1px solid transparent;
  background-color: white;
  border-radius: 5px;
  width: 100%;
}

.addGoodform__files-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

