.application-files {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(120px, 160px));
  width: 100%;
  gap: 15px; */
  grid-template-columns: repeat(auto-fill, minmax(120px, 170px));
  width: 100%;
  gap: 15px;
  justify-content: center;
}

.application__close-portal {
  align-self: flex-end;
}