.application {
    /* max-width: 1024px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 45px; */
    gap: 25px;
}

.application__heading {
    max-width: 360px;
    /* translate: -20px; */
}

.application h3 {
    margin: 0;
    font-size: 28px;
    font-weight: 300;
}

.application__wrapper_welcome {
    /* background-color: #C8CCCF;
    border-radius: 15px; */
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr;
    width: 100%;
    align-items: flex-start;
    gap:25px;
    /* overflow: hidden; */
}

.application__wrapper-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 25px 0 0 0;
}

.application__first-stage {
    display: flex;
    align-items: stretch;

}

.application__first-stage img {
    aspect-ratio: 1/1;
    border-radius: 9px;
    object-fit: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    /* width: 100%;
    height: 100%;
    border-radius: 12px;
    max-height: 580px;
    max-width: 420px;
    margin: 0 auto;
    object-fit: cover;
    cursor: pointer; */
}

.application__first-stage-ul {
    margin: 0;
}

.application__first-stage-ul li::marker {
    color: #FF8261;
}

.application__wrapper_welcome-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    /* justify-content: ; */
    /* gap: 25px; */
    gap: 15px;
    text-align: left;
    box-sizing: border-box;
    padding: 0 25px;
    max-width: 540px;
    /* padding: 0 75px; */
    /* padding: 15px 75px; */
}

.application__wrapper_welcome-text h3 {
    font-size: 36px;
    line-height: 1;
}

.application__wrapper_welcome-text button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #20232c;
    border: none;
    color: white;
    transition: all 0.25s ease-in-out;
    gap: 15px;
    align-self: flex-start;
    margin: auto  0 0 0;
}

.application__wrapper_welcome-text button:hover {
    background-color: #FF8261;
    color: black;
}

.application h2 {
    margin: 0;
}

.application__wrapper-progress-step {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    /* min-width: 90px; */
    /* display: flex;
    flex-direction: column; */
    /* align-items: flex-start; */
    /* text-align: center;
    align-items: center;
    gap: 5px;
    position: relative;
    width: 100%;
    min-height: 115px; */
    /* overflow: hidden; */
}

/* .application__wrapper-progress-step::after {
    position: absolute;
    content: "";
} */

/* .application__wrapper-progress-step:not(:last-of-type):after {
    content: "";
    background-color: #F87545;
    width: 250%;
    height: 2px;
    position: absolute;
    top: 25%;
    right: -220%;
} */

.application__wrapper-progress-step-index {

    /* aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #F87545;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    min-width: 35px;
    min-height: 35px; */
    /* position: relative; */
}

.application__wrapper-progress-step-dash {
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: #c9c2c1;
}

.application__wrapper-progress-step:not(:last-of-type) .application__wrapper-progress-step-index::after {
    /* content: "";
    background-color: #F87545; */
    /* width: 250%; */
    /* width: 100%;
    top: 12%;
    height: 2px;
    position: absolute; */
}

.application__wrapper-content {
    /* background-color: white;
    border-radius: 15px; */
    /* min-height: 420px; */
    position: sticky;
    /* max-width: 420px; */
    top: 50px;
    box-sizing: border-box;
    /* padding: 25px; */
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* box-shadow: 0 0 25px #C8CCCF; */
    /* max-height: 720px; */
    /* max-height: 85vh; */
    /* overflow: auto; */
}

.application__wrapper-content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.application__wrapper-content-data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.application__wrapper-content-data-wrapper label {
    font-weight: 300;
}

.application__wrapper-content-data-wrapper span {
    font-weight: 500;
}

.application__wrapper-content-data-wrapper p {
    word-break: break-all;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #C8CCCF;
    text-align: left;
    min-height: 90px;
    font-weight: 500;
    width: 100%;
}

.application__wrapper-content-data-wrapper-categories {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    width: fit-content;
    max-width: 240px;
    flex-wrap: wrap;
}

.application__wrapper-content button {
    /* border: 2px solid #F87545; */
    color: white;
    align-self: flex-start;
    background-color: #20232c;
    display: flex;
    align-items: center;
    gap: 10px;
}

.application__wrapper-content button:hover {
    background-color: #F87545;
    color: black;
}

.application__wrapper-content button svg {
    box-sizing: content-box;
    padding: 5px;
    border: 2px solid white;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.application__wrapper-content button:hover svg {
    border: 2px solid black;
    /* fill: white; */
}

.application__form-wrapper {
    /* border-right: 2px solid #C8CCCF; */
    box-sizing: border-box;
    /* max-width: 720px; */
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    /* border-radius: 15px; */
    /* padding: 25px 0; */
}

.application__form-wrapper label {
    font-weight: 500;
}

.application__form-data-wrapper-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 0 0 5px;
}

.application__form-data-wrapper-price label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.application__form-data-wrapper-input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    /* padding: 10px 10px 10px 0; */
    font-size: 16px;
    outline: none;
    border: 1px solid transparent;
    background-color: white;
    /* background-color: #C8CCCF; */
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

.application__form-data-wrapper-input:focus {
    border: 1px solid #20232c;

}

.application__form-data-wrapper-input::placeholder {
    color: #7f7f7f;
}


/* .application__buttons {
    display: inline-flex;
    gap: 50px;
    width: 100%;
    max-width: 540px;
    align-items: center;
}

.application__buttons button {
    aspect-ratio: 1/1;
    background-color: transparent;
    border: 1px solid black;
} */

.application__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.application__form-textarea{
    width: 100%;
    box-sizing: border-box;
    /* background-color: #C8CCCF; */
    background-color: white;
    /* background-color: transparent; */
    border: 1px solid transparent;
    /* min-height: 90px; */
    min-height: 120px;
    padding: 20px;
    outline: none;
    border-radius: 10px;
    resize: none;
    font-size: 16px;
    field-sizing: content;
    border: 1px solid #C8CCCF;
}

.application__form-textarea:focus {
    border: 1px solid black;
}

.application__form-textarea::placeholder {
    color: #7f7f7f;
}

.application__form-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 540px;
    /* gap: 15px; */
    gap: 20px;
    /* border-top: 1px solid black; */
    box-sizing: border-box;
    padding: 30px 0;
}

.application__form-div:not(:last-of-type) {
    border-bottom: 1px solid black;
}

.application__form-div h3 {
    margin: 0;
    font-size: 21px;
    display: flex;
    gap: 15px;
    align-self: flex-start;
    align-items: center;
}

.application__form-div h3 span {
    box-sizing: border-box;
    /* padding: 10px; */
    aspect-ratio: 1/1;
    background-color: #C8CCCF;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.application__form-div-agreements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    padding: 0;
    list-style: none;
    gap: 15px;
}


.application__form-div-agreements li {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.application__form-data-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    position: relative;
}

.application__form-data-wrapper-categories {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;
}



.application__form-data-wrapper_fit-content {
    width: fit-content;
    align-self: flex-start;
}

.application__form-data-wrapper_fit-content button {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background-color: white;
    /* background-color: #C8CCCF; */
}

/* .application__form-data-wrapper_fit-content button:hover {

} */

.application__form-data-wrapper-button {
    /* background-color: #C8CCCF; */
    background-color: white;
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    justify-content: space-between;
}

.application__form-data-wrapper-button:hover {
    border: 1px solid #20232c;
}

.application__form-data-wrapper-categories-button_active {
    background-color: #F87545;
    color: white;
    border: 1px solid #F87545;
}

.application__form-data-wrapper_fit-content ul {
    /* background-color: white; */
    border-radius: 15px;
    border: 2px solid #C8CCCF;
    /* box-shadow: 0 0 25px #C8CCCF; */
}

.application__form-data-wrapper-select {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #f9f9f9;
    box-sizing: border-box;
    padding: 10px 15px;
    list-style: none;
    text-align: left;
    border-radius: 15px;
    box-shadow: 0 0 25px #C8CCCF;
    visibility: hidden;
    opacity: 0;
}

.application__form-data-wrapper-select input {
    /* display: none; */
    width: 0;
    height: 0;
}

.application__form-data-wrapper-select-active {
    visibility: visible;
    opacity: 1;
}

.application__form-div-photos {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(120px, 160px));
    width: 100%;
    gap: 15px; */
    grid-template-columns: repeat(auto-fill, minmax(120px, 170px));
    width: 100%;
    gap: 15px;
    justify-content: center;
}

/* .application__form-div-photos li {
    display: flex;
    min-height: 240px;
} */

/* .application__form-div-photos li button {
    width: 100%;
    background-color: #C8CCCF;
    border: 1px solid black;
} */

#add_photo{
    background-color: transparent;
    border: 2px solid #C8CCCF;
    font-size: 36px;
}


/* .application__form-div-photos li button:hover {
    border: 1px solid #F87545;
} */

/* .application__form-div input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border: 1px solid transparent;
    background-color: #C8CCCF;
    border-radius: 5px;
} */

/* .application__form-div input:focus {
    border: 1px solid #20232c;
} */

/* .application__form-div input::placeholder {
    color: #7f7f7f;
} */