.application {
    /* max-width: 1024px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.application__heading {
    max-width: 360px;
}

.application h3 {
    margin: 0;
}

.application__wrapper_welcome {
    /* background-color: #C8CCCF;
    border-radius: 15px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: flex-start;
    gap:25px;
    /* overflow: hidden; */
}

.application__wrapper_welcome img {
    width: 100%;
    border-radius: 12px;
    max-height: 720px;
    object-fit: cover;
}

.application__wrapper_welcome-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 25px;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 75px;
}

.application__wrapper_welcome-text h3 {
    font-size: 36px;
}

.application__wrapper_welcome-text button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #20232c;
    border: none;
    color: white;
    transition: all 0.25s ease-in-out;
    gap: 15px;
    align-self: flex-start;
}

.application__wrapper_welcome-text button:hover {
    background-color: #FF8261;
    color: black;
}

.application h2 {
    margin: 0;
}

.application__wrapper-progress {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
    list-style: none;
    padding: 0;
}

.application__wrapper-progress-step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    gap: 5px;
    position: relative;
}

.application__wrapper-progress-step:not(:last-of-type):after {
    content: "";
    background-color: #F87545;
    width: 150%;
    height: 2px;
    position: absolute;
    top: 25%;
    right: -175%;
}

.application__wrapper-progress-step-index {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #F87545;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}

.application__wrapper-content {
    background-color: white;
    border-radius: 15px;
    min-height: 420px;
    position: sticky;
    /* max-width: 420px; */
    top: 50px;
}

.application__form-wrapper {
    border-right: 2px solid #C8CCCF;
    box-sizing: border-box;
    /* border-radius: 15px; */
    padding: 15px 0;
}

/* .application__buttons {
    display: inline-flex;
    gap: 50px;
    width: 100%;
    max-width: 540px;
    align-items: center;
}

.application__buttons button {
    aspect-ratio: 1/1;
    background-color: transparent;
    border: 1px solid black;
} */

.application__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.application__form textarea{
    width: 100%;
    box-sizing: border-box;
    background-color: #C8CCCF;
    /* background-color: transparent; */
    border: 1px solid transparent;
    min-height: 90px;
    padding: 20px;
    outline: none;
    border-radius: 10px;
    resize: none;
    font-size: 16px;
}

.application__form textarea:focus {
    border: 1px solid black;
}

.application__form textarea::placeholder {
    color: #20232c;
}

.application__form-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 540px;
    /* gap: 15px; */
    gap: 20px;
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
    box-sizing: border-box;
    padding: 15px 0;
}

.application__form-div h3 {
    margin: 0;
    font-size: 21px;
    display: flex;
    gap: 15px;
    align-self: flex-start;
    align-items: center;
}

.application__form-div h3 span {
    box-sizing: border-box;
    /* padding: 10px; */
    aspect-ratio: 1/1;
    background-color: #C8CCCF;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.application__form-div input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px 0;
    font-size: 16px;
    outline: none;
}

.application__form-div input:focus {
    /* border-bottom: ; */
}