.basket-button {
  background-color: #FF8261;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  transition: all 0.25s ease-in-out;
}

.basket-button:hover {
  color: white;
}

.basket-button svg {
  color: transparent;
  stroke: black;
  stroke-width: 30px;
  transition: all 0.25s ease-in-out;
}

.basket-button:hover svg {
  stroke: white;
}

.basket-button_clicked svg {
  color: black;
  stroke-width: 0;
}

@media screen and (max-width:424px) {
  .basket-button {
    font-size: 14px;
  }
}