.brands__ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 15px;
}

.brands__ul-li {
    aspect-ratio: 1/1;
    width: 210px;
    border-radius: 50%;
    /* border-radius: 16px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.brands__ul-li:hover {
    background-color: #F87545;
    transition: all 0.25s ease-in-out;
}

.brands__ul-li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #213547;
}