.brands__ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0;
    margin: 0;
    gap: 15px;
}

.brands__ul-li {
    aspect-ratio: 1/1;
    width: 100%;
    /* min-width: 210px; */
    max-width: 180px;
    border-radius: 50%;
    /* border-radius: 16px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.brands__ul-li:hover {
    background-color: #F87545;
    transition: all 0.25s ease-in-out;
}

.brands__ul-li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #213547;
    /* border: 2px solid #F87545; */
    border-radius: 50%;
}

@media screen and (max-width: 767px) {
    .brands__ul {
        overflow: auto;
        box-sizing: border-box;
        padding: 30px 0;
    }

    .brands__ul-li {
        min-width: 180px;
        border: 2px solid #C8CCCF;
    }
}

@media screen and (max-width: 424px) {
    .brands__ul-li {
        min-width: 120px;
        border: 2px solid #C8CCCF;
    }

    .brands__ul-li a {
        font-size: 14px;
    }
}