.brands__ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 78px;
}

.brands__ul-li {
    aspect-ratio: 1/1;
    width: 210px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    
    
    
}
.brands__ul-li:hover {
    background-color: #F87545;
    transition: all 0.25s ease-in-out;
}