.cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: flex-end; */
}



.cart__submit-btn {
    background-color: #FF8261;
    transition: all 0.25s ease-in-out;
    align-self: flex-end;
    box-sizing: border-box;
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
}

.cart__submit-btn:hover {
    color: white;
}