.category__cover {
  width: 100%;
  border-radius: 9px;
}

.category__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}

.category__wrapper button {
  background-color: #FF8261;
  /* color: black; */
}