.collaboration {
    padding: 50px;
    /* background-color: #3D3B3A; */
    /* background-color: #213547; */
    /* color: white; */
    background-color: white;
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 9px 9px 0 0;
}

.collaboration__headline-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.collaboration__headline-wrapper a {
    /* color: #7c7c7c; */
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 0.25s ease-in-out;
}

.collaboration__headline-wrapper a:hover {
    color: #FF8261;
}

.collaboration__headline-wrapper a svg {
    rotate: -45deg;
}

.collaboration h2 {
    font-size: 36px;
    font-weight: 400;
    max-width: 420px;
    text-align: left;
    line-height: 1.5;
    margin: 0;
}

.collaboration__text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.collboration__input-wrapper {
    width: 100%;
    box-sizing: border-box;
    /* padding: 10px 30px; */
    position: relative;
    margin: 10px 0 0 0;
}

.collboration__input-wrapper button {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    background-color: #FF8261;
}

.collaboration__link {
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    background-color: #FF8261;
    box-sizing: border-box;
    padding: 7px 10px;
    border-radius: 5px;
}

.collaboration__link svg {
    rotate: -45deg;
}

.collaboration__wrapper {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    max-width: 540px;
    text-align: left;
    width: 100%;
    flex-direction: column;
}

.collaboration__wrapper h3 {
    margin: 0;
}

.collaboration__form {
    display: flex;
    justify-content: baseline;
    align-items: stretch;
    justify-content: space-between;
    /* gap: 25px; */
    gap: 25px;
    flex-direction: column;
    width: 100%;
}

.collaboration__form-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.colalboration__form-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}

.colalboration__form-input-wrapper label {
    font-size: 16px;
}

.collaboration__form input {
    outline: none;
    /* border-bottom: 2px solid transparent; */
    box-sizing: border-box;
    border-radius: 9px;
    /* padding: 10px 10px; */
    padding: 15px;
    width: 100%;
    border: 2px solid white;
    transition: all 0.25s ease-in-out;
    color: white;
    /* min-width: 540px; */
}

.collaboration__form input:focus {
    border: 2px solid #FF8261;
}

.collaboration__form input::placeholder {
    color: #7c7c7c;
    font-size: 16px;
    font-family: "Manrope", sans-serif;

}

.collaboration__form button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    align-self: flex-start;
    background-color: transparent;
    color: black;
    border: 2px solid white;
    background-color: white;
    transition: all 0.25s ease-in-out;
    pointer-events: all;
}

.collaboration__form button:hover {
    /* border: 2px solid #FF8261; */
    background-color: #FF8261;
    color: white;
    cursor: pointer;
}

.collaboration__form-btn:disabled {
    color: #7c7c7c;
    border: 2px solid #7c7c7c;
    pointer-events: none;
    background-color: transparent;
}

/* .collaboration__form-btn:hover {
    color: #7c7c7c;
    border: 2px solid #7c7c7c;
} */

@media screen and (max-width: 1279px) {
    .collaboration {
        /* padding: 30px; */
        gap: 15px;
    }
}

@media screen and (max-width: 1023px) {
    .collaboration {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .collaboration {
        padding: 50px 25px;
    }
    .collaboration h2 {
        font-size: 24px;
        max-width: 360px;
    }
    .collaboration__link {
        font-size: 16px;
    }
}

@media screen and (max-width: 424px) {
    .collaboration__link {
        font-size: 14px;
    }
}