.order-logo {
    max-width: 210px;
}

.order-create {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
    margin: 50px 0 0 0;
}

.order-create__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 50px;
    max-width: 540px;
}

.order-create__block:last-of-type {
    gap: 15px;
    border: 2px solid #C8CCCF;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 10px 20px;
    max-width: 480px;
}

.order-create__block h3 {
    margin: 0;
}

.order-create__submit-btn {
    background-color: #F87545;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    transition: all 0.25s ease-in-out;
}

.order-create__submit-btn:hover {
    color: white;
}

@media screen and (max-width:767px) {
    .order-create {
        flex-direction: column;
        gap: 15px;
    }

    .order-create__block:last-of-type {
        display: none;
    }
}