.delete {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.delete__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete__buttons button{
    min-width: 120px;
}

.delete__buttons button:last-of-type {
    background-color: tomato;
}