.colors {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.colors__li-button {
  aspect-ratio: 1/1;
  border-radius: 9px;
}