.goods {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* max-width: 1024px;
    margin: 0 auto; */
}
.goods_inaccount {
    padding: 0;
}

.goods h3 {
    margin: 0;
}

/* .goods_inaccount h3 {
    margin: 0;
} */
.goods__ul {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 180px); */
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}


.goods__ul-li {
    background-color: white;
    /* border-radius: 5px; */
    border-radius: 9px;
    display: flex;
    flex-direction: column; 
    align-items: start;
    box-sizing: border-box;
    padding: 15px;
    transition: all 0.3s ease-in-out;
    /* min-height: 380px; */
    cursor: pointer;
    text-align: left;
    gap: 5px;
    /* gap: 15px; */
}
.goods__ul-li:hover {
    box-shadow: 0px 0px 15px rgba(96, 96, 96, 0.3);
}

.goods__ul-li-actions-wrapper {
    position: relative;
}

.goods__ul-li-buttons {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 0;
    box-sizing: border-box;
    align-items: center;
}

.goods__ul-li-buttons button {
    box-sizing: border-box;
    /* padding: 5px; */
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    padding: 0;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goods__ul-li-img {
    width: 100%;
    /* max-width: 140px; */
    align-self: center;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    margin: auto 0;
}

.goods__ul-li-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: black;
}
.goods__ul-li-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}
.goods__ul-li-heart {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
    align-items: flex-start;
}
.goods__ul-li-heart button, .goods__ul-li-heart button:hover {
    border: none;
}
.goods__ul-li-heart-svg {
    stroke: black;
    stroke-width: 25px;
}

.goods__ul-li-title {
    text-align: left;
}

.goods__ul-li-heart button {
    background-color: transparent;
    padding: 0;
    font-size: 20px;
}

.goods__ul-li-btn {
    /* visibility: hidden; */
    align-self: flex-end;
    color: #F3F3F3;
    background-color: #3D3B3A;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 0px;
    /* width: 40px;
    height: 40px; */
    min-width: 40px;
    min-height: 40px;
    font-size: 22px;
    pointer-events: none;
}

.goods__ul-li:hover .goods__ul-li-btn {
    /* visibility: visible; */
    opacity: 1;
    pointer-events: all;
}

.goods__ul-li-btn:hover {
    background-color: #FF8261;
    border: none;
}

.goods__ul-li h3, h4 {
    margin: 0;
}

.goods__ul-li-author {
    font-size: 14px;
    font-weight: 500;
}

.goods__ul-li-price-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* gap: 15px; */
    gap: 5px;
    flex-direction: column;
    align-items: flex-start;
}

.goods__ul-li-price-wrapper button {
    font-size: 14px;
    padding: 10px 0;
}

/* .goods__ul-li-price-wrapper button {
    background-color: #FF8261;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
} */

@media screen and (max-width: 1023px) {
    /* .goods__ul {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    } */

    /* .goods__ul-li-price-wrapper {
        flex-direction: column;
        align-items: flex-start;
    } */
}

@media screen and (max-width: 768px) {
    .goods__ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 424px) {
    .goods__ul-li {
        padding: 7px;
    }
}