.good {
    display: flex;
    justify-content: space-between;
    /* padding: 100px; */
    /* padding: 25px 100px; */
    padding: 25px 0;
    gap: 50px;
}

.good__parameters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.good__photos {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 10px;
    list-style: none;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    width: fit-content;
    gap: 15px;
    padding: 0;
    margin: 0 auto; */
}

.good__photos button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    padding: 5px;
}

.good__photos img {
    width: 100%;
    height: 100%;
    max-width: 70px;
}

.good__parameters-features {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.good__parameters-features-feature {
    box-sizing: border-box;
    padding: 10px;
    background-color: #CCCDD0;
    border-radius: 30px;
}

.good__text {
    display: flex;
    flex-direction: column;
    /* max-width: 240px; */
    /* max-width: 380px; */
    max-width: 420px;
    text-align: left;
    gap: 15px;
    width: 100%;
    /* justify-content: space-between; */
}

.good__text h4 {
    margin: 0;
}

.good__text-dimensions {
    display: flex;
    flex-direction: column;
    list-style-image: none;
    padding: 0;
    list-style: none;
    gap: 5px;
    margin: 0;
}

.good__text-dimensions li {
    display: flex;
    text-transform: capitalize;
    gap: 5px;

}

.good__text-dimensions li h4 {
    min-width: 75px;
}

.good__text-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.good__text-quantity button{
    background-color: transparent;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 0;
    width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
}

.good__text-quantity button:hover {
    border: 2px solid #FF8261;
    color: #FF8261;
}

.good__text-quantity button:disabled {
    color: #CCCDD0;
    border: 2px solid #CCCDD0;
    pointer-events: none;
    /* background-color: #CCCDD0; */
}

.good__text-button {
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 22px;
    outline: none;
}
.good__text-button:hover {
    border: none
}
.good__text-button-svg {
    stroke: black;
    stroke-width: 25px;
}
.img {
    /* aspect-ratio: 1/1; */
    /* max-width: 570px; */
    object-fit: contain;
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 16/10;
}
.good__colors {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.good__colors-li {
    border: 3px solid transparent;
    box-sizing: border-box;
    padding: 2px;
    border-radius: 9px;
}
.good__colors-li_active {
    border: 3px solid black;
}
.good__colors li button {
    border-radius: 7px;
    aspect-ratio: 1/1;
    outline: none;
    border: none;
}
.good__colors li button.butt:hover { 
    border: none;
}

.good__text-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 25px;
}

.butt {
    /* background-color: #A7A7A7; */
    color: black;
    border: 2px solid #FF8261;
    transition: all 0.25s ease-in-out;
    background-color: #FF8261;
    width: 100%;
}
.butt:hover {
    border: 2px solid transparent;
    background-color: #20232c;
    color: white;
}

.good__text-buttons svg {
    font-size: 28px;
    /* aspect-ratio: 1/1; */
}
.cvet {
    font-weight: 400;
}
.line1 {
    display: flex;
    justify-content: space-between;
   align-items: center;
}

.line1 h3 {
    margin: 0;
}

.good__text a {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
    color: black;
    font-weight: 400;
    /* text-decoration: underline; */
}

.good__text a img {
    max-width: 45px;
    border-radius: 50%;
}

.good__text a svg {
    rotate: -45deg;
}

.good__text-a-name {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: stretch;
}

.good__text-a-name div {
    background-color: #20232c;
    height: 2px;
    width: 0%;
    transition: all 0.25s ease-in-out;
}

.good__text a:hover .good__text-a-name div {
    width: 100%;
}

.good__text-colors-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.good__text-delivery {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}

.good__text-delivery svg {
    height: 24px;
    color: #FF8261;
}

/* .good__text-terms {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: stretch;
    gap: 5px;
}

.good__text-terms li {
    border-bottom: 1px solid #20232c;
    box-sizing: border-box;
    padding: 15px 0;
}

.good__text-terms li button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} */

@media screen and (max-width: 767px) {
    .good {
        flex-direction: column;
        gap: 25px;
    }
}