.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #F3F3F3;
}

.header form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__headline {
    font-family: 'FortuneC';
}

.header button {
    background-color: transparent;
    border: none;
}

.header button:hover {
    border: none;
    color: #FF8261;
}

.header a {
    color: black;
    transition: all 0.25s ease-in-out;
}

.header a:hover {
    color: #FF8261;
}