.history {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
}

.history h3 {
  margin: 0;
  align-self: flex-start;
}

.history__li {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.history__li-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: center;
  min-width: 235px;
}



.history__li-good {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  text-align: left;
  gap: 5px;
}

.history__li-good-title {
  max-width: 145px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history__li-good-date {
  font-size: 14px;
  color: #a8a8a8;
}

.history__li-img {
  max-width: 75px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 5px;
}

.history__li-img_round {
  border-radius: 50%;
}

.history__li-wrapper button {
  background-color: transparent;
  padding: 0;
  transition: all 0.25s ease-in-out;
}

.history__li-wrapper button:hover {
  border: 1px solid transparent;
  color: #FF8261;
}

.list-column__wrapper-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.list-column__wrapper-column span {
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list-column__wrapper-column-pics {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 105px;
  overflow: auto;
}

.list-column__wrapper-column-cover {
  max-width: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.list-column__wrapper-column-brand {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0;
}

.list-column__wrapper-column-cover_round {
  max-width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.list-column__wrapper-column-link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #213547;
  font-weight: 400;
}

.list-column__wrapper-column-link svg {
  transition: all 0.25s ease-in-out;
}

.list-column__wrapper-column-link:hover svg {
  color: #FF8261;
}

/* .list-column__wrapper-column-brand img {
  max-width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
} */