.history {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
}

.history h3 {
  margin: 0;
  align-self: flex-start;
}

.history ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  gap: 10px;
  width: 100%;
}

.history ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
  box-sizing: border-box;
  padding: 15px 0;
}

.history ul li:not(:last-of-type) {
  border-bottom: 0.5px solid #213547;
}

.history__ul-li-order-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  justify-content: space-between;
}

.history__ul-li-p {
  box-sizing: border-box;
  padding: 3px 10px;
  background-color: #FF8261;
  border-radius: 30px;
}

.history__ul-li-order-wrapper img {
  max-width: 210px;
  border-radius: 5px;
}