.homestaging-services h2 {
    font-size: 36px;
    font-weight: 300;
    text-align: left;
    margin: 0 0 40px 0;
}

.homestaging-services h2 span {
    color: #FF8261;
    font-size: 400;
}
.homestaging-services__ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.homestaging-services__ul-li {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 15px 30px;
    gap: 25px;
}

.homestaging-services__ul-li span {
    font-weight: 700;
    font-size: 20px;
}

.homestaging-services__ul-li img {
    width: 100%;
    max-width: 210px;
    /* max-width: 320px; */
    aspect-ratio: 1/1;
}


.homestaging-services__ul-li p {
    color: #a4a4a4;
    min-height: 105px;
    font-size: 14px;
}

@media screen and (max-width: 1279px) {
    .homestaging-services__ul-li p {
        min-height: 210px;
    }
}

@media screen and (max-width: 767px) {
    .homestaging-services__ul {
        grid-template-columns: 1fr;
    }
}