.homeStagingFooter {
  /* background-color: #3e3e3e; */
  /* background-color: #213547; */
  background-color: white;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 50px;
}

.homeStagingFooter__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  max-width: 320px;
  text-align: left;
  gap: 15px;
}

.homeStagingFooter__text-wrapper p {
  /* color: #a4a4a4; */
  color: #5f5f5f;
}

.homeStagingFooter__logo {
  max-width: 240px;
  translate: -5px;
}

.homeStagingFooter__links {
  display: flex;
  padding: 0;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  /* max-width: 420px; */
  max-width: 540px;
  /* margin: 0 0 0 auto; */
  /* color: white; */
  gap: 5px;
  margin: 0;
}

.homeStagingFooter__links li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  color: black;
  position: relative;
  /* color: white; */
}

.homeStagingFooter__links li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: 0.25s ease-in-out;
}

.homeStagingFooter__links li a:hover::after{
  width: 100%;
  /* color: #FF8261; */
}

.homeStagingFooter__links li svg {
  rotate: -45deg;
}

@media screen and (max-width:1023px) {
  .homeStagingFooter__links {
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .homeStagingFooter {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    padding: 50px 25px;
  }

  .homeStagingFooter__links {
    /* flex-direction: column; */
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }

  .homeStagingFooter__links li a {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 424px) {
  .homeStagingFooter {
    padding: 30px 25px;
  }
}