.homeStagingFooter {
  background-color: #3e3e3e;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px;
}

.homeStagingFooter__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  max-width: 320px;
  text-align: left;
}

.homeStagingFooter__text-wrapper p {
  color: #a4a4a4;
}

.homeStagingFooter__logo {
  max-width: 240px;
  translate: -10px;
}

.homeStagingFooter__links {
  display: flex;
  padding: 0;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  /* max-width: 420px; */
  max-width: 540px;
  /* margin: 0 0 0 auto; */
  color: white;
  gap: 5px;
  margin: 0;
}

.homeStagingFooter__links li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  color: white;
}

.homeStagingFooter__links li a:hover {
  color: #FF8261;
}

.homeStagingFooter__links li svg {
  rotate: -45deg;
}

@media screen and (max-width: 767px) {
  .homeStagingFooter {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;

  }

  .homeStagingFooter__links {
    /* flex-direction: column; */
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }

  .homeStagingFooter__links li a {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 424px) {
  .homeStagingFooter {
    padding: 30px 25px;
  }
}