.button-like {
    color: transparent;
    stroke: black;
    stroke-width: 50px;
    background-color: #F3F3F3;
    box-sizing: border-box;
    /* padding: 5px; */
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    padding: 0;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 20px;
    transition: all 0.25s ease-in-out;
}

.button-like:hover {
    stroke: #FF8261;
}

.button-like svg {
    width: 15px;
    height: 15px;
}

.button-like_clicked {
    stroke: #FF8261;
    color: #FF8261;
}