.links {
    border-right: 1px solid rgb(209, 209, 209);    
    box-sizing: border-box;
    padding: 0 25px 0 0;
    min-height: 180px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 5px;
}

.links_inAccount {
    padding: 0;
    border-right: none;
}

.links h3 {
    margin: 0;
    font-weight: 100;
}
.links__ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
    /* font-weight: 100; */
    /* border-right: 1px solid black; */
}

/* .links__ul li:hover {
    color: #FF8261;
} */

.links_inAccount ul {
    gap: 20px;
    font-size: 18px;
}

.links__ul a {
    color: black;
    display: inline-flex;
    flex-direction: column;
    gap: 2px;
}

.links__ul a div {
    width: 0%;
    height: 1px;
    background-color: #213547;
    transition: all 0.25s ease-in-out;
}

.links__ul a:hover div{
    width: 100%;
}