.link-comp {
    /* background-color: #FF8261; */
    /* background-color: #F89D85; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all 0.25s ease-in-out;
    font-size: 14px;
    padding: 10px 15px;
    color: black;
    border-radius: 8px;
}

.link-comp:hover {
    color: white;
}

.link-comp_transparent {
    background-color: transparent;
    border: 1px solid #FF8261;
}

.link-comp_transparent:hover {
    background-color: #FF8261;
    color: black;
}