.ul-overflow {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    padding: 0;
    list-style: none;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.ul-overflow__li {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    scroll-snap-align: center;
}