.list-column {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-column li {
    /* display: grid;
    grid-template-columns: 1fr 1fr 85px 140px 75px; */
    border: 2px solid #C8CCCF;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 15px 15px;
    /* gap: 15px; */

    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    border: 2px solid #C8CCCF;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 15px 30px;
    transition: all 0.25s ease-in-out; */
}

.list-column li:hover {
    box-shadow: 0 0 15px #C8CCCF;
    /* border: 2px solid transparent; */
}

.list-column__id-span {
    background-color: #C8CCCF;
    color: black;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 24px;
}

.list-column__wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.list-column__content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.list-column__cover {
    width: 100%;
    max-width: 90px;
}

.list-column__details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* height: 100%; */
    align-self: stretch;
    justify-content: space-between;
    /* gap: 5px; */
}

.list-column__materials-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.list-column__price-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    justify-content: space-between;
}

.list-column__price-span {
    font-weight: 700;
}

.list-column__price-wrapper button {
    background-color: #FF8261;
}

@media screen and (max-width: 1279px) {
    .list-column li {
        padding: 10px;
    }

    .list-column__wrapper-column span, .list-column__wrapper-column-link {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .list-column li {
        grid-template-columns: 1fr 70px;
        padding: 15px;
        gap: 10px;
    }

    .list-column__wrapper-column-brand span, .list-column__wrapper-column-link span {
        display: none;
    }

    .list-column__wrapper-column-pics {
        flex-direction: row;
    }
}