.button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #C8CCCF;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* align-items: stretch; */
    justify-content: center;
    position: relative;
}

.button__close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    border: 0;
    transition: all 0.25 ease-in-out;
    width: fit-content;
    display: flex;
    font-size: 20px;
    background-color: transparent;
    color: #F89D85;
}

.button__close:hover {
    color: #FF8261;
    /* scale: 1.1; */
}

.list-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* aspect-ratio: 1/1; */
    /* object-fit: contain; */
    /* width: 100%;
    height: 100%;
    object-fit: cover; */

}