.notification {
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 15px 50px;
  z-index: 500;
  /* background-color: #CCCDD0; */
  background-color: #FF8261;
  color: white;
  border-radius: 5px;
}

.notification h3 {
  margin: 0;
  font-weight: 400;
}