.order__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.order__form h3 {
    margin: 0;
    font-size: 24px;
    display: flex;
    gap: 15px;
}

.order__form h3 span {
    /* background-color: #C8CCCF;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center; */
    font-weight: 400;
    letter-spacing: 3px;
}

.order__form-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}