.paid-goods__img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 9px;
    cursor: pointer;
}

.paid-goods__buttons {
    display: flex;
    width: fit-content;
    gap: 15px;
    margin: 15px 0 0 0;
}

.paid-goods__buttons button {
    background-color: #FF8261;
    transition: all 0.25s ease-in-out;
}

.paid-goods__buttons button:hover {
    color: white;
}

/* @media screen and (max-width: 1279px) {
    .paid-goods__img {
        min-width: 210px;
    }
} */