.portal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  /* justify-content: center; */
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 200;
}

.portal_left {
  justify-content: flex-start;
}

.protal_files {
  justify-content: center;
}

.portal_center {
  justify-content: center;
}

.protal__close {
  align-self: flex-end;
  background-color: transparent;
  padding: 0;
  font-size: 24px;
  border: none;
}

.protal__close:hover {
  color: #FF8261;
}

.portal__content {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 100%;
  gap: 15px;
  /* max-width: 1280px; */
  /* max-width: 540px; */
  max-width: 420px;
  background-color: white;
  box-sizing: border-box;
  padding: 70px 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  /* justify-content: space-between; */
  /* max-width: 540px;
  gap: 15px;
  background-color: #F3F3F3;
  border-radius: 9px;
  box-sizing: border-box;
  padding: 25px; */
}

.portal__logo-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#menu-logo  {
  aspect-ratio: unset;
  width: 100%;
  max-width: 50px;
  margin: 0;
}

.portal__content_files {
  justify-content: center;
  background-color: transparent;
  max-width: 1024px;
  align-items: center;
}

.portal__content img {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 9px;
  aspect-ratio: 16/9;
  object-fit: contain;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .portal__content {
    max-width: 320px;
    padding: 30px;
  }
}

@media screen and (max-width: 425px) {
  .portal__content {
    max-width: 320px;
  }
}

@media screen and (max-width: 424px) {
  .portal__content {
    max-width: 280px;
  }
}