.promo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;
    flex-direction: column;
}

.promo__wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

/* .promo__wrapper .swiper {
    height: fit-content;
} */
.promo__wrapper .swiper-wrapper {
    height: fit-content;
}
.promo__wrapper .swiper-slide {
    display: flex;
    height: fit-content;
}

.promo__wrapper-slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.promo__wrapper-slide img {
    width: 100%;
    height: 70svh;
    object-fit: cover;
    border-radius: 3px;
}

.promo__wrapper-slide-span {
    text-align: left;
    text-align: left;
    /* max-width: 240px; */
    /* height: 100%; */
    /* position: absolute;
    bottom: 15px;
    left: 15px; */
    background-color: #F3F3F3;
    box-sizing: border-box;
    padding: 7px 10px;
    border-radius: 20px;
    font-size: 18px;
    /* max-width: 240px; */
}

/* .promo__ul {
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    max-width: 1024px;
    position: relative;
    padding: 0;
    margin: 0;
}

.promo__ul::-webkit-scrollbar {
    height: 0;
    width: 0;
} */

.promo__ul-li {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    /* align-items: stretch; */
}

.promo__ul-li img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.promo__ul-li-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 25px 0 0 0;
}

.promo__ul-li-wrapper a {
    color: black;
    rotate: -45deg;
}

.promo__ul-li-wrapper a:hover {
    color: #FF8261;
}

.promo__wrapper-buttons {
    position: absolute;
    bottom: 10px;
    right: 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #F3F3F3;
    z-index: 150;
    padding: 5px;
    border-radius: 20px;
    font-size: 20px;
}

/* .promo__wrapper-buttons button {
    padding: 0;
    background-color: transparent;
} */
.promo__wrapper-homestage {
    min-width: 320px;
    max-width: 540px;
    width: 100%;
    /* max-width: 360px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
}

.promo__wrapper-homestage h3 {
    margin: 0;
}

/* @media screen and (max-width: 1279px) {
    .promo__wrapper {
        width: 55%;
    }
} */

@media screen and (max-width: 1023px) {
    .promo {
        flex-direction: column;
    }

    .promo__wrapper {
        width: 100%;
        height: 100%;
    }
    .promo__wrapper-homestage {
        max-width: 540px;
    }
}

@media screen and (max-width: 767px) {
    .promo {
        gap: 25px;
    }
    .promo__wrapper-slide img {
        height: 100%;
    }
    .promo__wrapper-slide-span {
        font-size: 15px;
    }
    .promo__wrapper-buttons {
        bottom: 0px;
        right: 10px;
        font-size: 16px;
    }
    .promo__wrapper-homestage {
        min-width: 0;
    }
}