.seller__warpper {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
}

.seller__warpper-img {
  width: 100%;
  border-radius: 12px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  /* border-radius: 9px; */
  object-position: top;
  max-width: 320px;
}

.seller__wrapper_details {
  width: 100%;
  max-width: 480px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.seller__wrapper_details h3 {
  margin: 0;
}