.seller {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 50px;
}

.seller__warpper {
  display: flex;
  justify-content: space-between;
  gap: 75px;
  /* justify-content: space-around; */
}

.seller__warpper-img {
  width: 100%;
  border-radius: 3px;
  /* aspect-ratio: 1/1; */
  object-fit: contain;
  /* border-radius: 50%; */
  /* border-radius: 9px; */
  object-position: top;
  /* max-width: 480px; */
  max-height: 420px;
}

.seller__wrapper_details {
  width: 100%;
  /* max-width: 480px; */
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 25px; */
  gap: 15px;
  box-sizing: border-box;
  padding: 0 50px 0 0;
  /* max-width: 360px; */
  /* margin: 0 auto 0; */
}

.seller__wrapper_details h3 {
  margin: 0;
}

.seller__warpper-button {
  /* background-color: transparent; */
  background-color: #213547;
  color: white;
  transition: all 0.25s ease-in-out;
  /* border: 2px solid #213547; */
}

.seller__warpper-button:hover {
 background-color: #FF8261;
 color: black;
}

.seller__wrapper_details-rating {
  display: flex;
  gap: 5px;
  font-size: 18px;
}

.seller__wrapper_details-rating-svg {
  color: #FF8261;
}

.seller__wrapper_details-rating span {
  line-height: 1;
}

.seller__goods {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.seller__goods h3 {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .seller__warpper {
    flex-direction: column;
  }
}