.share-button {
  /* color: transparent;
  stroke: black;
  stroke-width: 30px; */

  box-sizing: border-box;
  /* padding: 5px; */
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  padding: 0;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 0.25s ease-in-out;
  font-size: 24px;
  background-color: #F3F3F3;
}

.share-button:hover {
  border: transparent;
  color: #FF8261;
}